{% extends 'substitute/base.html' %}

{% block title %}Connexion{% endblock  %}

{% block header %}

    {% include 'substitute/header.html' with title="Connexion" %}

{% endblock  %}


{% block content %}

  <section>
    <div class="container text-center">
        <h3>Connexion</h3>
        <br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.label }}" class="offset-sm-3 col-sm-3 col-form-label">{{ field.label }} :</label>
                    <div class="col-sm-6 text-left">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <br>
        <p>
            Vous n'avez pas de compte ? <a href="{% url 'signup' %}"> Cliquez ici</a>
        </p>
    </div>
</section>

{% endblock %}